// .cv {
//     width: 800px;
//     margin: auto;
// }

html, body {
    // font-family: 'Calibri';
}

.pref-matrix-app {
    .header-reset-button {
        text-align: center;
    }

    .phase-title {
        text-align: center;
    }

    .start-comparison {
        text-align: center;
        width: 250px;
        margin: auto;
    }
}

.item-selection {
    text-align: center;
    margin: 30px 0 30px 0;

    .item-selection-list {
        text-align: left;
        width: 100%;

        .item-selection-line {
            width: 250px;
            margin: auto;

            .item-selection-line-input {
                width: 200px;
            }

            .item-selection-line-remove {
            }
        }
    }

    .item-selection-add-new {
        text-align: center;
        width: 250px;
        margin: auto;
    }
}

.item-comparison {
    text-align: center;

    .item-comparison-choices {
        width: 100%;

        button {
            margin: 0 20px;
        }
    }
}