.page-title {
  text-align: center;
}
.page-description {
  text-align: center;
}
.pref-matrix-app .header-reset-button {
  text-align: center;
}
.pref-matrix-app .phase-title {
  text-align: center;
}
.pref-matrix-app .start-comparison button {
  width: 100%;
}
.pref-matrix-app .phase-status {
  text-align: center;
  margin: 30px 0 10px 0;
}
.pref-matrix-app .phase-status [data-selected='yes'] {
  font-weight: bold;
}
.item-selection {
  margin: 30px 0;
}
.item-selection .item-selection-header {
  text-align: center;
}
.item-selection .item-selection-list {
  margin: 20px 0;
  width: 100%;
}
.item-selection .item-selection-list .item-selection-line {
  margin: 5px 0;
}
.item-selection .item-selection-list .item-selection-line .item-selection-line-input {
  width: 90%;
  display: inline-block;
}
.item-selection .item-selection-add-new button {
  width: 100%;
}
.item-comparison .item-comparison-header {
  text-align: center;
}
.item-comparison .item-comparison-choices {
  margin: 20px 0;
  text-align: center;
}
.item-comparison .item-comparison-choices button {
  width: 35%;
}
.item-comparison .item-comparison-choices .separator {
  display: inline-block;
  width: 25%;
}
.comparison-results {
  margin: 30px 0 0 0;
}
